* {
	margin:0;
	padding:0;
	}
body {
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	/*
    scrollbar-base-color: #FFFFFF;
	scrollbar-arrow-color: #6699cc;
	scrollbar-3dlight-color: #6699cc;
	scrollbar-darkshadow-color: #6699cc;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-track-color: #d6e8ff;
    */
}
.modal {
	background-color:White;
}
ul {
	list-style:none;
}
#mensagemerro {
	font:11px Tahoma, Verdana, Arial;
	color:#FF0000;
	background-color:#ffdfe0;
	width:100%;
	height:21px;
	float:left;
	border-bottom:solid 1px #ff9999;
	display:none;
}
#alerta {
	font:11px Tahoma, Verdana, Arial;
	color:#FF0000;
	background-color:#ffdfe0;
	width:100%;
	height:21px;
	float:left;
	border-bottom:solid 1px #ff9999;
}
/*******************************************************************************
 DESIGN INFORMATION FRAMES: describes frames
 *******************************************************************************/
#framecontent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 86px; /*Height of frame div*/
	overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
	background-image:url(../Images/topo/background.gif);
	background-repeat:repeat-x;
	color: white;
}
#maincontent {
	position: fixed;
	top: 86px; /*Set top value to HeightOfFrameDiv*/
	left: 0;
	right: 4px;
	bottom: 21px;
	overflow: auto;
	background-image:url('../Images/display/background.gif');
	background-attachment:fixed;
}
.innertube {
	margin: 0px; /*Margins for inner DIV inside each DIV (to provide padding)*/
	background-color:#FFFFFF;
	height:100%;
}
.contentform {
	margin: 5px; /*Margins for inner DIV inside each DIV */
	background-color:#eaf3ff;
	height:172px;
	border:solid 1px #6693cf;
}
.contentformpopup {
	background-color:#eaf3ff;
	margin: 5px; /*Margins for inner DIV inside each DIV */
	width:600px;
	height:auto;
	border:solid 1px #6693cf;
}
* html body { /*IE6 hack*/
	padding: 86px 0 0 0; /*Set value to (HeightOfFrameDiv 0 0 0)*/
}
* html #maincontent { /*IE6 hack*/
	height: 100%;
	width: 100%;
}
/*******************************************************************************
 DESIGN INFORMATION TOP: describes top
 *******************************************************************************/
#toplogo {
	width:732px;
	height:58px;
	float:left;
}
#toplogin {
	font:11px Tahoma, Verdana, Arial;
	width:180px;
	height:53px;
	float:right;
	text-align:right;
	padding-right:20px;
	padding-top:5px;
	color:#c6e8ff;
}
#topmenu {
	margin:0;
	width:100%;
	height:60px;
	background-image:url('../Images/menu_strip_bg_gray.gif');
	float:left;
	clear:both;
}
/*******************************************************************************
 DESIGN INFORMATION FORM: describes form
 *******************************************************************************/
 #formtitulo {
	font:bold 12px Tahoma, Verdana, Arial;
	background-image:url(../Images/app_titlebar.gif);
	background-repeat:repeat-x;
	width:100%;
	height:26px;
	line-height:20px;
	float:left;
}
#botoes {
	background-image: url(../Images/Display/botoes_bkg.gif);
	background-repeat:repeat-x;
	width:100%;
	height:26px;
	line-height:20px;
	float:left;
}
.botoesgerais {
	padding-top:5px;
	padding-left:5px;
}
#formgeral {
	width:100%;
	height:auto;
	float:left;/*background-color: #cee1fa;*/
}
#formfont {
	font:bold 11px Tahoma, Verdana, Arial;
	color:#000000;
	width: 114%;
}
.txtbox {
	font:12px Tahoma, Verdana, Arial;
	border:solid 1px #6699cc;
	height:18px;
}
/*******************************************************************************
 DESIGN INFORMATION LOGIN: describes login
 *******************************************************************************/
 #logincontent {
	position: fixed;
	top:52px; /*Set top value to HeightOfFrameDiv*/
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	height: 650px; 
	background-image:url('../imagens/display/background.gif');
	background-attachment:fixed;
}
.logincontentform 
{
	/*Formulario da Layout.master */
	margin: 5px; /*Margins for inner DIV inside each DIV */
	background-color:#eaf3ff;
	height:613px;
	border:solid 1px #6693cf;
}
#logintitulo {
	font:bold 14px Tahoma, Verdana, Arial;
	color:#15428b;
	background-image:url(../Images/app_titlebar.gif);
	background-repeat:repeat-x;
	width:100%;
	height:26px;
	line-height:23px;
	float:left;
}
#loginimagem {
	margin-top:30px;
	margin-left:20px;
	width:87px;
	height:114px;
	float:left;
}
#loginusuario {
	font:12px Tahoma, Verdana, Arial;
	color:#15428b;
	margin-top:25px;
	margin-left:20px;
	width:210px;
	height:100px;
	float:left;
}
#loginusuario li {
	padding-top:5px;
}
.loginerro {
	margin-left:10px;
	margin-right:5px;
	margin-top:3px;
}
.loginbtn {
	margin-left:120px;
	cursor:pointer;
}
/*******************************************************************************
 DESIGN INFORMATION GRID: describes color, scheme 
*******************************************************************************/
.grid_tittle {
	font:11px Tahoma, Verdana, Arial;
	padding-left:5px;
	color:#000;
	background-image: url(../Images/Display/grid_titulo_background.gif);
	background-position:right;
	background-repeat:repeat-x;
	height:20px;
	padding-bottom:3px;
}
.grid_tittle_div {
	font:11px Tahoma, Verdana, Arial;
	padding-left:5px;
	color:#000;
	background-image:url(../Images/Display/grid_titulo_div.gif);
	background-position:right;
	background-repeat:no-repeat;
	height:20px;
	padding-bottom:3px;
}
.grid_line_01 {
	font:11px Tahoma, Verdana, Arial;
	color:#000;
	background-image: url(../Images/Display/grid_background.gif);
	background-repeat:repeat-x;
	height:21px;
}
.grid_line_02 {
	font:11px Tahoma, Verdana, Arial;
	color:#000000;
	background-image: url(../Images/Display/grid_background.gif);
	background-repeat:repeat-x;
	height:21px;
}
#gridform {
	margin:0 auto;
	width:100%;
	height:23px;
	float:left;
}
/*******************************************************************************
 DESIGN INFORMATION MODAL: describes color, scheme 
*******************************************************************************/
.modalBackground {
	background-color: #000;
	/* filter: alpha(opacity=80);
	opacity: 0.8; */
}
/*******************************************************************************
 DESIGN INFORMATION MODAL: treeview
*******************************************************************************/
#treeview {
	width:100%;
	height:293px;
	border:solid 1px #6699cc;
	overflow:auto;
}
/*******************************************************************************
 DESIGN INFORMATION MODAL: teste
*******************************************************************************/
#botoesform 
{
	margin-top:4px;
	margin-left:7px;
	width:108%;
	height:21px;
	float:left;
}
#botoesform li 
{
	float:left;
	height:24px;
	width: 5px;
}
#botoesform li a 
{
	font:11px Arial, Helvetica, sans-serif;
	color:#15428b;
	text-decoration:none;
	padding-left:6px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:4px;
	height:18px;
}
#botoesform li a:hover
{
	font:11px Arial, Helvetica, sans-serif;
	color:#15428b;
	text-decoration:none;
	background-image: url(~/imagens/app_titlebar_hover.gif);
	background-repeat:repeat-x;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:3px;
	border:solid 1px #ffdb6c;
	height:18px;
}
.separator 
{
	margin-top:1px;
	height:15px;
	background-image:url(../Images/botoes_div.gif);
	background-repeat:no-repeat;
	width:6px;
	padding-left:2px;
}

/***********************************************************************
 ***********************************************************************
*/

/*******************************************************************************
********************************************************************************
**
* - GENERAL
*
* - PAGE CONTAINERS
*
* - HEADER
*
* - CONTENT
**
********************************************************************************
 ******************************************************************************/

/* GENERAL ------------------------------------------------------------------ */

html
{
	height: 100%;
}

/* Zero default margin & padding around common elements */
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul
{
	margin: 0;
	border: 0 none transparent;
	padding: 0;
}

body
{
	height: 100%;
	background-color: #333333;
	background-image: url('../images/bg.gif');
	background-position: 100% 0;
	color: #000000;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align: center;
    width: 1312px;
}

a:link
{
	color: #003399;
}

a:visited
{
	color: #B266B2;
}

a:hover
{
	text-decoration: none;
}




/* PAGE CONTAINERS ---------------------------------------------------------- */

#page
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
}

* html #page
{
	height: 100%;
}




/* HEADER ------------------------------------------------------------------- */

#header
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/    
}

h1
{
	padding: 0 35px;
	font-size: 220%;
	font-weight: normal;
	line-height: 82px;
    width: 747px;
}




/* CONTENT ------------------------------------------------------------------ */

#content
{
	padding: 0 35px;
	width: 96%;
}
.contentFilho
{
	padding: 0 35px;
	width: 65%;
    height: 625px;
}
p
{
	margin-top: 1.5em;
}

form
{
	margin-top: 1.5em;
	padding-bottom: 35px;
    width: 1126px;
    height: 600px;
}

.formFilho
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 100%;
    height: 600px;
}

input.text
{
    width: 200px;
    height: 18px;
}

/*****************************************************************
 *****************************************************************/
 


legend
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}

.fieldset
{
	float: left;
	clear: left;
	width: 728px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}




.fieldsetSubmit
{
	float: none;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}

fieldset ol
{
	padding: 1em 1em 0 1em;
	list-style: none;
    width: 738px;
    height: 171px;
}

fieldset li
{
	float: left;
	clear: left;
	width: 101%;
	padding-bottom: 1em;
    height: 164px;
}

label
{
    display:block;
   /* float:left; /* posição dos campos: Label a direita e texto a esquerda */
   width: 14.2em; /* tamanho do label na horizonal */
   height: 16px;
   margin-right: 1em; /* Espaço entre label e text */
   text-align:left;
        
}


/******************************************
 ******************************************
 **************** Agencies ****************/
 .pageAgencie
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
}

/* 
* html #page
{
	height: 100%;
}
*/

.headerAgencie
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.h1Agencie
{
	padding: 0 35px;
	font-size: 220%;
	font-weight: normal;
	line-height: 82px;
}

/* CONTENT ------------------------------------------------------------------ */

.contentAgencie
{
	padding: 0 35px;
	width: 65%;
    height: 625px;
}
.pAgencie
{
	margin-top: 1.5em;
}

.formAgencie
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 600px;
}

.fieldsetAgencie
{
	float: left;
	clear: left;
    top: 50px; 
    height: 130px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
.olAgencie
{
    height: 100px;
}

.fieldsetAgencieList
{
    top: 60px;
	width: 730px;
	height: 200px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
}

.fieldsetSubmitAgencieButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendAgencie
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
 /******************************************
 ******************************************
 **************** Clientes ****************/
 .pageClients
{
	/*width: 636px;*/
	width: 90%;
	height: 850px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
}

/* 
* html #page
{
	height: 100%;
}
*/

.headerClients
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.h1Clients
{
	padding: 0 35px;
	font-size: 220%;
	font-weight: normal;
	line-height: 82px;
}

/* CONTENT ------------------------------------------------------------------ */

.contentClients
{
	padding: 0 35px;
	width: 63%;
    height: 759px;
}
.pClients
{
	margin-top: 1.5em;
}

.formClients
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 783px;
    height: 700px;
}

.fieldsetClients
{
    top: 50px; 
    height: 400px;
	width: 730px;
	float: left;
	clear: left;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetClientsActive
{
    top: 50px; 
    height: 100px;
	width: 695px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.fieldsetClientsMulti
{
    top: 40px; 
    height: 100px;
	width: 695px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.fieldsetClientsList
{
    top: 300px;
	width: 730px;
	height: 200px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
}

.fieldsetSubmitClientsButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendClients
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlClient
{
    width: 738px;
    height:264px;
}
.LIClient
{
    width: 738px;
    height:21px;    
}
.OlClientOpt
{
    width: 690px;
    height:23px;
}
.LIClientOpt
{
    width: 738px;
    height:125px;    
}
.OlClientList
{
    width: 738px;
    height:173px;
}
.LIClientList
{
    width: 738px;
    height:157px;    
}
/******************************************
 ******************************************
 ***************  Countries ***************/
 .fieldsetCountrie
{
	float: left;
	clear: left;
	width: 728px;
	height: 163px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
 .fieldsetCountriesList
{
	float: left;
	clear: left;
	width: 728px;
	height: 200px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
.OlCountry
{
    width: 738px;
    height:119px;
}
.LICountry
{
    width: 738px;
    height:21px;    
}
/*
.OlCountryOpt
{
    width: 690px;
    height:23px;
}
.LICountryOpt
{
    width: 738px;
    height:125px;    
}
*/
.OlCountryList
{
    width: 738px;
    height:173px;
}
.LICountryList
{
    width: 738px;
    height:157px;    
}
/******************************************
 ******************************************
 ************** Departments  **************/
 .fieldsetSubmitDepartmentButtons
{
	float: none;
	top:1px;
	width: 830px;
	border-style: none;
	padding-left: 1em;
	margin-left: 0;
    height: 40px;
	background-color: #B2DD32;
	background-image: url('../images/fieldset_gradient.jpg');
	background-repeat: repeat-x;    
}
 
 .fieldsetDepartmentsList
{
	float: left;
	clear: left;
	width: 728px;
	height: 200px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
.OlDepartment
{
    width: 355px;
    height:98px;
}
.LIOlDepartment
{
    width: 356px;
    height:20px;    
}
 /******************************************
 ******************************************
 **************** Employee ****************/

 /**************/
 /****Tabela****/
 /*************/
 .colunaUm {
	width: 180px;
    height: 61px;
}

.colunaDois {
	width: 140px;
    height: 48px;
}
.colunaTres {
	width: 150px;
    height: 48px;
}
 /**************/
 /****Fim****/
 /*************/
 
 .pageEmployee
{
	/*width: 1064px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	/*background-image: url(../images/page.gif);*/
	background-repeat: repeat-y;
	text-align: left;
    height: 699px;
}

/* 
* html #page
{
	height: 100%;

aqui
}
*/

.headerEmployee
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.h1Employee
{
	padding: 0 35px;
	font-size: 220%;
	font-weight: normal;
	line-height: 82px;
}

/* CONTENT ------------------------------------------------------------------ */

.contentEmployee
{
	padding: 0 5px;
	width: 100%; /* 82%; */
    height: 692px;
}
.pEmployee
{
	margin-top: 1.5em;
}

.formEmployee
{
	margin-top: 1em;
	margin-left: 1em;
	padding-bottom: 35px;
    width: 99%;
    height: 640px;
}

.fieldsetEmployeeC1
{
	float: left;
	clear: left;
    height: 311px;
	width: 100%;
	margin: 0.3em 0 0 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetEmployeeC2
{
	float: left;
	clear: left;
    height: 311px;
	width: 100%;
	margin: 0.3em 0 0 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
.fieldsetEmployeeC3
{
	float: left;
	clear: left;
    height: 311px;
	width: 80%;
	margin: 0.3em 0 0 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}
.fieldsetEmployeeList
{
    top: 12px;
	width: 90%;
	height: 187px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
}

/* Atual */
.fieldsetSubmitEmployeeButtons
{
	float: none;
	top:1px;
	width: 842px;
	border-style: none;
	padding-left: 1em;
	margin-left: 0;
    height: 40px;
	background-color: #B2DD32;
	background-image: url('../images/fieldset_gradient.jpg');
	background-repeat: repeat-x;    
}

.LabelTitle
{
    font-size: 25px;
    float:left; /* posição dos campos: Label a direita e texto a esquerda */
    width: 8em; /* tamanho do label na horizonal */
    height: 29px;
    margin-right: 13em; /* Espaço entre label e text */
    text-align:left;
}    

.fieldsetEmployeeOl
{
	padding: 1em 1em 0 1em;
	list-style: none;
    width: 230px;
    height: 294px;
}

.fieldsetEmployee Li
{
    height: 26px; 
    width: 100%;
    padding-left: 1em;
}
.fieldsetEmployeeC1 Li
{
    height: 26px; 
    width: 100%;
    padding-left: 1em;
}
.fieldsetEmployeeC2 Li
{
    height: 26px; 
    width: 80%;
    padding-left: 1em;
}
.fieldsetEmployeeC3 Li
{
    height: 26px; 
    width: 100%;
    padding-left: 1em;
}
.fieldsetEmployeeLi
{
	float: left;
	clear: left;
	width: 102%;
	padding-bottom: 1em;
    height: 207px;
}
lFieldSetBrowser
{
	float: left;
	clear: left;
	width: 94%;
	padding-bottom: 1em;
    height: 33%;    
}
.FieldSetBrowserLi
{
	float: left;
	clear: left;
	width: 94%;
	padding-bottom: 1em;
    height: 9%;    
}

.OlEmployeeList
{
    width: 840px;
    height:158px;
}
.LIEmployeeList
{
    width: 843px;
    height:148px;    
}
.LIEmployeeColA
{
    width: 384px;
    height:24px;    
}

 /**************/
 /** Botão CV **/
 /**************/
 #btnCv
{
    margin: 0;
    padding: 0;
    /* background: #FFE6A0 url('../imagens/Crm/toolbar_hover.gif') repeat-x; */
    background: #FFE6A0 url('../images/fieldset_gradient.jpg') repeat-x;
    border: #FFB74C;
    list-style-type: none;
    width: 252px;
}
#btnCv li
{
    margin: 0;
    padding: 0;
}
#btnCv a
{
    display: block; /* aumenta a área clicável */
    /*color: #FFB74C;*/
    text-decoration: none;
    padding: 0 15px;
    line-height: 22px; border: 1px solid #FFB74C;
    background-image: #FFE6A0 url('../imagens/Crm/toolbar_msdown.gif') repeat-x;
}
#btnCv a:hover
{
    /* background-image: #937D5A url('../imagens/toolbar_msdown.gif') repeat-x; */
    background: #937D5A url('../imagens/Crm/toolbar_msdown.gif') repeat-x;
    border: 1px solid #937D5A;
    background-color: #FFE6A0;    
    line-height: 18px;

}
#btnCv #btnCv_con a
{
    border: none;
}
#btnCv img a:hover
{
    background: transparent;    
}

/******************************************
 ******************************************
 **************** Geospecs ****************/
 .pageGeospec
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
}

/* 
* html #page
{
	height: 100%;
}
*/

.headerGeospec
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

/* CONTENT ------------------------------------------------------------------ */

.contentGeospec
{
	padding: 0 35px;
	width: 65%;
    height: 662px;
}
.pGeospec
{
	margin-top: 1.5em;
}

.formGeospec
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 600px;
}

.fieldsetGeospec
{
	float: left;
	clear: left;
    top: 50px; 
    height: 296px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetGeospecList
{
    top: 60px;
	width: 730px;
	height: 160px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitGeospecButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendGeospec
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlGeospec
{
    width: 738px;
    height:300px;
}
.LIGeospec
{
    width: 738px;
    height:30px;    
}
.OlGeospecList
{
    width: 738px;
    height:173px;
}
.LIGeospecList
{
    width: 738px;
    height:157px;    
}
/******************************************
 ******************************************
 ***************** Groups *****************/
 .pageGroup
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
}

/* 
* html #page
{
	height: 100%;
}
*/

.headerGroup
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.contentGroup
{
	padding: 0 35px;
	width: 65%;
    height: 518px;
}
.pGroup
{
	margin-top: 1.5em;
}

.formGroup
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 458px;
}

.fieldsetGroup
{
	float: left;
	clear: left;
    top: 50px; 
    height: 167px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetGroupcList
{
    top: 60px;
	width: 730px;
	height: 160px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitGroupButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendGroup
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlGroup
{
    width: 738px;
    height:136px;
}
.LIGroup
{
    width: 738px;
    height:30px;    
}
.OlGroupList
{
    width: 738px;
    height:173px;
}
.LIGroupList
{
    width: 738px;
    height:157px;    
}
/*******************************************
 *******************************************
 **************** Locations ****************/
 .pageLocation
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
    height: 710px;
}

/* 
* html #page
{
	height: 100%;
}
*/

.headerLocation
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.contentLocation
{
	padding: 0 35px;
	width: 65%;
    height: 680px;
}
.pLocation
{
	margin-top: 1.5em;
}

.formLocation
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 616px;
}

.fieldsetLocation
{
	float: left;
	clear: left;
    top: 50px; 
    height: 307px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetLocationcList
{
    top: 60px;
	width: 730px;
	height: 160px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitLocationButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendLocation
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlLocation
{
    width: 738px;
    height:308px;
}
.LILocation
{
    width: 738px;
    height:30px;    
}
.OlLocationList
{
    width: 738px;
    height:173px;
}
.LILocationList
{
    width: 738px;
    height:157px;    
}
/*******************************************
 *******************************************
 **************** Positions ****************/
 .pagePosition
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
    height: 710px;
}

.headerPosition
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.contentPosition
{
	padding: 0 35px;
	width: 65%;
    height: 680px;
}
.pPosition
{
	margin-top: 1.5em;
}

.formPosition
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 616px;
}

.fieldsetPosition
{
	float: left;
	clear: left;
    top: 50px; 
    height: 302px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetPositioncList
{
    top: 60px;
	width: 730px;
	height: 233px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitPositionButtons
{
	float: none;
	top:150px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendPosition
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlPosition
{
    width: 738px;
    height:264px;
}
.LIPosition
{
    width: 738px;
    height:21px;    
}
.OlPositionList
{
    width: 738px;
    height:173px;
}
.LIPositionList
{
    width: 738px;
    height:157px;    
}
/*******************************************
 *******************************************
 ***************** Regions *****************/
 .pageRegion
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
    height: 710px;
}

.headerRegion
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.contentRegion
{
	padding: 0 35px;
	width: 65%;
    height: 680px;
}
.pRegion
{
	margin-top: 1.5em;
}

.formRegion
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 616px;
}

.fieldsetRegion
{
	float: left;
	clear: left;
    top: 50px; 
    height: 148px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetRegioncList
{
    top: 60px;
	width: 730px;
	height: 229px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitRegionButtons
{
	float: none;
	top:0px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
    height: 50px;
}
 
.legendRegion
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlRegion
{
    width: 738px;
    height:264px;
}
.LIRegion
{
    width: 738px;
    height:21px;    
}
.OlRegionList
{
    width: 738px;
    height:173px;
}
.LIRegionList
{
    width: 738px;
    height:157px;    
}
/*******************************************
 *******************************************
 ****************** Users ******************/
 .pageUser
{
	/*width: 636px;*/
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 18px 0 18px;
	background-image: url('../images/page.gif');
	background-repeat: repeat-y;
	text-align: left;
    height: 710px;
}

.headerUser
{
	height: 70px;
	width: 821px;
	background-color: #B2DD32;
	/*background-image: url(../images/header1.jpg);*/
	/*background-repeat: repeat-x;*/
}

.contentUser
{
	padding: 0 35px;
	width: 65%;
    height: 680px;
}
.pUser
{
	margin-top: 1.5em;
}

.formUser
{
	margin-top: 1.5em;
	/* padding-bottom: 35px; */
    width: 782px;
    height: 616px;
}

.fieldsetUser
{
	float: left;
	clear: left;
    top: 50px; 
    height: 343px;
	width: 730px;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
}

.fieldsetUsercList
{
    top: 60px;
	width: 730px;
	height: 211px;
	float: left;
	clear: left;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
	background-image: url('../images/fieldset_gradient.jpg'); 
	background-repeat: repeat-x;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.6em;
}

.fieldsetSubmitUserButtons
{
	float: none;
	top:60px;
	width: 92%;
	border-style: none;
	padding-left: 12em;
	background-color: transparent;
	background-image: none;
}
 
.legendUser
{
	margin-left: 1em;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.OlUser
{
    width: 738px;
    height:264px;
}
.LIUser
{
    width: 738px;
    height:21px;    
}
.OlUserList
{
    width: 738px;
    height:173px;
}
.LIUserList
{
    width: 738px;
    height:157px;    
}



