fieldset
{
	position: relative;
    top: -2px;
    left: 7px;
    width: 699px;
    }

legend
{
	position: relative;
	left: 12px;
	top: 0.2em;
    width: 111px;
    height: 19px;
}

fieldset ol
{
	padding-top: 0.25em;
}