/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	content-background-color: #E2C7C7;
	font-weight: bold;
	font-size: 23;
	text-align: center;
	vertical-align: top;
}
	