<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FAMIS_DALL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FAMIS_DALL.Properties.Settings>
            <setting name="StrCon" serializeAs="String">
                <value>Data Source=WSERVER_2003_DE\MSSQLSERVER_2008;Initial Catalog=FAMIS;User ID=FAMIS;Password=P@ss@w0rd1;</value>
            </setting>
        </FAMIS_DALL.Properties.Settings>
    </applicationSettings>
</configuration>